// Colors
$body-bg: #161929;
$post-bg: #1E2137;
$btn-bg: #1F87DC;
$placeholder: #A4AAD7;

// Weights
$normal: 400;
$semi: 600;
$bold: 700;

// Shadow
$outline-shadow: $btn-bg 0 0 0 2px;
$drop-shadow: 0 25px 40px rgba(0, 0, 0, 0.1897);
